<h1>{{title}}</h1>
<hr>
{{user}}
<menu>
System Tree
<ul>
	<ol>
		<li>Base:</li>
			<ul>
				<li><a href='#'>None</a></li>
			</ul>
		<li>Barcode:</li>
			<ul>
				<li><a href='/barcodetest'>BarCode Tester</a></li>
			</ul>
		<li>Complan First:</li>
			<ul>
				<li><a href='#'>None</a></li>
			</ul>

		<li>Receive:</li>
			<ul>
				<li><a href='/rejectionlist'>Rejection List</a></li>
				<li><a href='/rejectionform'>New Rejection</a></li>
			</ul>
		<li>Calculate:</li>
			<ul>
				<li><a href='#'>None</a></li>
			</ul>
		<li>Adjudge:</li>
			<ul>
				<li><a href='#'>None</a></li>
			</ul>
		<li>Invoice:</li>
			<ul>
				<li><a href='#'>None</a></li>
			</ul>
	</ol>
</ul>
</menu>

